.topbar {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  min-height: 36px;
  min-width: 144px;
  width: 100%;
  position: relative;
	z-index: 1;
	padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between; 
}
@media screen and (max-width: 768px) {
  .topbar {
    flex-direction:column;
  }
}
 .dropdown {
  border-radius: 4px;
  height: 36px;
  position: relative;
  min-width: 144px;
	width: 100%;
	z-index: 100;
}